img{
    border-radius: 10px;
    border: 10px solid rgb(0, 0, 0);
    padding: 5px;
    width: 300px;
}

.center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
    text-align: center;
}